apiVersion: backstage.io/v1alpha1
kind: API
metadata:
  name: beas-api
  description: Shows list of API used in beas
spec:
  type: openapi
  lifecycle: production
  owner: partnership
  system: messaging-system
  definition: |
    openapi: "3.0.0"
    info:
      version: 1.0.1
      title: Raavi
      license:
        name: MIT
    servers:
      - url: https://beas.narvar.com/api/v1
    paths:
      /magento/handshake:
        post:
          summary: magneto handshake
          description: magneto handshake
          produces:
          - "application/json"
          parameters:
          - in: "body"
            name: "body"
            description: "passing the payload"
            required: true
          - name: x-magento-retailer
            in: header
            description: x-magento-retailer
            required: true
            type: string
          - name: x-magento-hmac-sha256
            in: header
            description: x-magento-hmac-sha256
            required: true
            type: string
          - name: x-magento-store
            in: header
            description: x-magento-store
            required: true
            type: string
          responses:
            "200":
              description: "successful operation"


      /magento/integration/callback:
        post:
          summary: magneto callback
          description: magneto callback
          produces:
          - "application/json"
          parameters:
          - in: "body"
            name: "body"
            description: "passing the payload"
            required: true
          - name: x-magento-retailer
            in: header
            description: x-magento-retailer
            required: true
            type: string
          - name: oAuth2
            in: header
            description: oAuth2
            required: true
            type: string
          - name: x-magento-store
            in: header
            description: x-magento-store
            required: true
            type: string
          responses:
            "200":
              description: "successful operation"
              
      /magento/integration/login:
        post:
          summary: magneto login
          description: magneto login
          produces:
          - "application/json"
          parameters:
          - in: "body"
            name: "body"
            description: "passing the payload"
            required: true
          - name: x-magento-retailer
            in: header
            description: x-magento-retailer
            required: true
            type: string
          - name: oAuth2
            in: header
            description: oAuth2
            required: true
            type: string
          - name: x-magento-store
            in: header
            description: x-magento-store
            required: true
            type: string
          responses:
            "200":
              description: "successful operation"
              
      /magento/integration/endpoints:
        post:
          summary: magento endpoints
          description: Passing Order detail
          produces:
          - "application/json"
          parameters:
          - in: "body"
            name: "body"
            description: "passing the payload"
            required: true
          - name: x-magento-retailer
            in: header
            description: x-magento-retailer
            required: true
            type: string
          - name: oAuth2
            in: header
            description: oAuth2
            required: true
            type: string
          - name: x-magento-store
            in: header
            description: x-magento-store
            required: true
            type: string
          responses:
            "200":
              description: "successful operation"
              
      /bigcommerce/app/auth:
        post:
          summary: bigcommerce auth
          description: bigcommerce auth
          produces:
          - "application/json"
          parameters:
          - in: "body"
            name: "body"
            description: "passing the payload"
            required: true
          - name: oAuth2
            in: header
            description: oAuth2
            required: true
            type: string
          responses:
            "200":
              description: "successful operation"

      /bigcommerce/app/load:
        post:
          summary: Loading big commerce app
          description: Loading big commerce app
          produces:
          - "application/json"
          parameters:
          - in: "body"
            name: "body"
            description: "passing the payload"
            required: true
          - name: oAuth2
            in: header
            description: oAuth2
            required: true
            type: string
          responses:
            "200":
              description: "successful operation"
              
      /bigcommerce/app/uninstall:
        post:
          summary: Uninstalling big commerce app
          description: uninstalling big commerce app
          produces:
          - "application/json"
          parameters:
          - in: "body"
            name: "body"
            description: "passing the payload"
            required: true
          - name: oAuth2
            in: header
            description: oAuth2
            required: true
            type: string
          responses:
            "200":
              description: "successful operation"
              
      /lom/auth/callback:
        post:
          summary: Lom auth call back
          description: Lom auth call back
          produces:
          - "application/json"
          parameters:
          - in: "body"
            name: "body"
            description: "passing the payload"
            required: true
          - name: oAuth2
            in: header
            description: oAuth2
            required: true
            type: string
          responses:
            "200":
              description: "successful operation"
              
      /lom/auth:
        post:
          summary: Lom auth
          description: Lom auth
          produces:
          - "application/json"
          parameters:
          - in: "body"
            name: "body"
            description: "passing the payload"
            required: true
          - name: oAuth2
            in: header
            description: oAuth2
            required: true
            type: string
          responses:
            "200":
              description: "successful operation"   
              
      /lom/auth/token:
        post:
          summary: Lom token
          description: Lom token
          produces:
          - "application/json"
          parameters:
          - in: "body"
            name: "body"
            description: "passing the payload"
            required: true
          - name: oAuth2
            in: header
            description: oAuth2
            required: true
            type: string
          responses:
            "200":
              description: "successful operation"
              
      /hybris/impex:
        post:
          summary: Hybris impex
          description: Hybris impex
          produces:
          - "application/json"
          parameters:
          - in: "body"
            name: "body"
            description: "passing the payload"
            required: true
          - name: oAuth2
            in: header
            description: oAuth2
            required: true
            type: string
          responses:
            "200":
              description: "successful operation"
              
      /hybris/initiate:
        post:
          summary: Hybris impex
          description: Hybris impex
          produces:
          - "application/json"
          parameters:
          - in: "body"
            name: "body"
            description: "passing the payload"
            required: true
          - name: oAuth2
            in: header
            description: oAuth2
            required: true
            type: string
          responses:
            "200":
              description: "successful operation" 
              
      /hybris/update/order:
        put:
          summary: Updating hybris order
          description: Updating hybris order
          produces:
          - "application/json"
          parameters:
          - in: "body"
            name: "body"
            description: "passing the payload"
            required: true
          - name: oAuth2
            in: header
            description: oAuth2
            required: true
            type: string
          responses:
            "200":
              description: "successful operation"
              
      /install:
        post:
          summary: Shopify installing
          description: Shopify installing
          produces:
          - "application/json"
          parameters:
          - in: "body"
            name: "body"
            description: "passing the payload"
            required: true
          - name: oAuth2
            in: header
            description: oAuth2
            required: true
            type: string
          responses:
            "200":
              description: "successful operation"        
              
      /finish_install:
        post:
          summary: Shopify installing
          description: Shopify installing
          produces:
          - "application/json"
          parameters:
          - in: "body"
            name: "body"
            description: "passing the payload"
            required: true
          - name: oAuth2
            in: header
            description: oAuth2
            required: true
            type: string
          responses:
            "200":
              description: "successful operation"
              
      /webhook/uninstall:
        post:
          summary: Shopify installing
          description: Shopify installing
          produces:
          - "application/json"
          parameters:
          - in: "body"
            name: "body"
            description: "passing the payload"
            required: true
          - name: oAuth2
            in: header
            description: oAuth2
            required: true
            type: string
          responses:
            "200":
              description: "successful operation"        
              
      /schedule:
        post:
          summary: Google cloud scheduler
          description: Google cloud scheduler
          produces:
          - "application/json"
          parameters:
          - in: "body"
            name: "body"
            description: "passing the payload"
            required: true
          - name: oAuth2
            in: header
            description: oAuth2
            required: true
            type: string
          responses:
            "200":
              description: "successful operation"        
